.row1{
    margin: 50px;
}
p{
    padding: 0px  0px  0px 150px ;

body{
    background-color: burlywood;
<<<<<<< HEAD
    margin-bottom: auto;
=======
}
    div {
        background-color: darkgray;
>>>>>>> 31f9186 (f2)
    }
}